#playing-cards{
  background-color: rgb(91, 62, 62);
  box-shadow: 0 5px 10px rgb(0, 0, 0);
  height: 776px;
  width: 580px;
  display: flex;
  margin: 20px auto;
  border-radius: 10px;
  padding: 0px;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  transition: transform 1s ease;
  scale: calc(0.7);
}

#playing-cards:hover{
  transform: rotate(180deg) scale(1.3);
}

.card{
  background-color: whitesmoke;
  display: flex;
  width: 240px;
  height: 336px;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 10px;
  margin: 20px;
  transition: transform 0.3s ease;
  flex-direction: column;
  justify-content: space-between;
  rotate: calc(180deg);
}

.card:hover{
  box-shadow: 0 5px 10px black;
  transform: scale(1.05);
  border: 0px;
  background-color: white;
}

.left{
  display: flex;
  align-self: flex-start;
  flex-wrap: wrap;
  font-style: bold;
  font-size: 2.2rem;
  width: 30px;
  height: 70px;
  padding: 10px;
}

.middle{
  display: flex;
  flex-direction: column;
  align-self: center;
  color: black;
  font-style: bold;
  font-size: 5.5rem;
  margin: 0 auto;
}

.right{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  font-style: bold;
  font-size: 2.2rem;
  width: 30px;
  height: 70px;
  padding: 10px;
  align-self: flex-end;
  transform: rotate(180deg);
}

body{
  background-color: rgb(33, 30, 30);
}

.black{
  margin: 0 auto;
}

.red{
  margin: 0 auto;
  color: rgb(174, 0, 0);
}